<div class="row d-flex my-4 justify-content-center">
    <p class="h4 col-auto">Update property</p>
    <div class="col-md-12"></div></div>

<form (ngSubmit)="onSubmit()" #propertyForm="ngForm" class="card-body row d-flex justify-content-center">

    <div class="row g-3 col-md-6 col-sm-4 col-xs-12">

        <div *ngIf="errors">
            <div class="alert alert-danger col-md-6" role="alert">
                <p>Your form contains following errors:</p>
                <ul *ngFor="let error of errors">
                    <li>{{ error }}</li>
                </ul>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="name" class="form-label">Name</label>
            <input type="text" [(ngModel)]="property.name"
                   class="form-control mb-3"
                   id="name"
                   name="name"
                   placeholder="Enter property name"
                   required #title="ngModel">
        </div>

        <div class="col-md-12"></div>
        <div class="col-auto">
            <button type="submit"
                    class="btn btn-outline-primary text-nowrap">Submit</button>
        </div>
    </div>
</form>
