<p class="h3">User info</p>
<ul class="list-group">
  <li class="list-group-item active" aria-current="true">{{ user.email }}</li>
  <li class="list-group-item">{{ user.name }} {{ user. surname}}</li>
  <!-- <li class="list-group-item">{{ user.dateOfBirth }}</li> -->
</ul>
<div>
  <a class="btn btn-info" href="#" role="button">Update user info</a>
  <a class="btn btn-danger" href="#" role="button">Delete user</a>
</div>
<p class="h3">Addresses</p>
<div>
  <a class="btn btn-info" href="#" role="button">Show added addresses</a>
  <a class="btn btn-info" href="#" role="button">Add new address</a>
</div>
<p class="h3">Orders</p>
