<div class="container text-center row d-flex justify-content-center">
<p class="h2">User info</p>

<ul class="list-group col-4 my-4" >
  <li class="list-group-item list-group-item-primary">{{ user.email }}</li>
  <li class="list-group-item">{{ user.name }} {{ user. surname}}</li>
  <!-- <li class="list-group-item">{{ user.dateOfBirth }}</li> -->
</ul>

<div>
  <a class="btn tn-outline-primary mx-2 mb-4" href="#" role="button">Update user info</a>
  <a class="btn bt-outline-danger mx-2 mb-4" href="#" role="button">Delete user</a>
</div>
<p class="h3">Addresses</p>
  <div>
    <a class="btn btn-outline-primary mx-2 mb-4" href="#" role="button">Show added addresses</a>
    <a class="btn btn-outline-primary mx-2 mb-4" href="#" role="button">Add new address</a>
  </div>
<p class="h3">Orders</p>
  <div>
    <a class="btn btn-outline-primary mx-2 mb-4" href="#" role="button">Show my orders</a>
  </div>
</div>
