<div class="card-body row d-flex justify-content-center">
<p class="h2 col-auto">User info</p>

  <div class="col-md-12"></div>
  <div class="col-md-6 mb-4">
    <div class="card" >
      <div class="card-header"> Email:
        {{ user.email }}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Name: {{ user.name }} {{ user.surname }}</li>
        <li class="list-group-item">Date of birth: {{ user.dateOfBirth }}</li>
      </ul>
    </div>
  </div>

  <div class="col-md-12"></div>
<div class="col-auto">
  <a class="btn btn-outline-success mx-2 mb-4" href="#" role="button">Update user info</a>
  <a class="btn btn-outline-danger mx-2 mb-4" routerLink="./delete" role="button">Delete user</a>
</div>

  <div class="col-md-12"></div>
<p class="h3 col-auto">Addresses</p>
  <div class="col-md-12"></div>

  <!-- <div *ngIf="employee"> -->
  <div class="col-md-6">
    <div class="card" style="width: 18rem;" *ngFor="let address of addresses">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Country, city: {{ address.country }}, {{ address.city }}</li>
        <li class="list-group-item">Postal code: {{ address.postalCode }}</li>
        <li class="list-group-item">Rest of the address: {{ address.street }} {{ address.home }}, {{ address.apartment}} {{ address.door }}</li>
      </ul>
      <div class="card-body">
        <div class="btn-group" role="group">
        <a href="#" class="btn btn-outline-success">Update</a>
        <a href="#" class="btn btn-outline-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12"></div>
  <div class="col-auto">
    <a class="btn btn-outline-primary mx-2 my-4" routerLink="/addresses/new" role="button">Add new address</a>
  </div>
  <div class="col-md-12"></div>
<p class="h3 col-auto">Orders</p>
  <div class="col-md-12"></div>
  <div class="col-auto">
    <a class="btn btn-outline-primary mx-2 mb-4" href="#" role="button">Show my orders</a>
  </div>
</div>
