<div class="card-body row d-flex justify-content-center">
    <div class="card">
        <img src="..." class="img-fluid rounded float-start" alt="...">
        <p class="fs-2">{{ product.title }}</p>
        <p class="text-primary">{{ product.price }} €</p>
        <a routerLink="#" class="btn btn-outline-primary">Add to cart</a>
        <a routerLink="#" class="btn btn-outline-success">Shop now</a>
    </div>
    <a routerLink="/products" class="btn btn-outline-primary">Back to all products</a>
</div>