<div class="my-5 row justify-content-center align-items-center" style="margin-right: 20px;">
<div class="col-md-6">
    <p class="fs-3">All properties</p>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col" class="col-1 text-center">#</th>
                <th scope="col" class="col-1 text-center">Name</th>
                <th scope="col" class="col-1 text-center">Action</th>
                <th scope="col" class="col-1 text-center" *ngIf="role === 'ADMIN'">State</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let property of properties">
                <td class="text-center">{{ property.id }}</td>
                <td class="text-center">{{ property.name }}</td>
                <td class="d-flex justify-content-center">
                    <div class="btn-group" role="group">
                        <a routerLink="./{{ property.id }}/update" class="btn btn-outline-success">Update</a>
                        <a routerLink="./{{ property.id }}/delete"
                           class="btn btn-outline-danger"
                           *ngIf="!property.deleted">Delete</a>
                    </div>
                </td>
                <td class="text-center text-danger" *ngIf="role === 'ADMIN'">
                    <div *ngIf="property.deleted">
                    <button class="btn btn-link link text-reset" (click)="restore(property.id)">Deleted (restore)</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="card-body row d-flex justify-content-center my-4">
        <div class="col-auto">
            <a routerLink="./new" class="btn btn-outline-primary">New property</a>
        </div>
    </div>
</div>
