<div class="my-5 row justify-content-center align-items-center" style="margin-right: 20px;">
    <div class="col-auto">
        <p class="fs-3">Store statistics</p>
        <ul class="list-group">
            <li class="list-group-item">
                <a routerLink="./revenue" class="text-reset">View revenue</a>
            </li>
            <li class="list-group-item">
                <a routerLink="./top-10-products" class="text-reset">View top 10 products</a>
            </li>
            <li class="list-group-item">
                <a routerLink="./top-10-buyers" class="text-reset">View top 10 buyers</a>
            </li>
        </ul>


    </div>
</div>