<div class="row d-flex my-4 justify-content-center" style="margin-right: 20px;">
    <p class="fs-3 col-auto">Update property value</p>
</div>

<form (ngSubmit)="onSubmit()" #propertyValueForm="ngForm" class="row d-flex justify-content-center" style="margin-right: 20px;">

    <div class="row col-md-6">

            <div class="alert alert-danger col-md-6" role="alert" *ngIf="errors">
                <p>Your form contains following errors:</p>
                <ul *ngFor="let error of errors">
                    <li>{{ error }}</li>
                </ul>
            </div>

        <div class="form-group col-md-6">
            <label for="property" class="form-label">Property</label>
            <select type="text" [(ngModel)]="propertyValue.property"
                    class="form-control mb-3"
                    id="property"
                    name="property"
                    required #title="ngModel">
                <option [ngValue]="property" *ngFor="let property of properties">{{ property.name }}</option>
            </select>
        </div>

        <div class="form-group col-md-6">
            <label for="propertyValue" class="form-label">Value</label>
            <input type="text" [(ngModel)]="propertyValue.propertyValue"
                   class="form-control mb-3"
                   id="propertyValue"
                   name="propertyValue"
                   placeholder="Enter property value"
                   required #title="ngModel">
        </div>

        <div class="d-flex justify-content-center my-4">
            <button type="submit"
                    class="btn btn-outline-primary text-nowrap"
                    [disabled]="!propertyValueForm.form.valid">Submit</button>
        </div>
    </div>
</form>
