<nav class="py-2 bg-primary bg-opacity-25 border-bottom text-black-75">
    <div class="container d-flex flex-wrap">
        <ul class="nav" *ngFor="let category of categories">
            <li class="nav-item">
                <a routerLink="/category/{{ category.id }}"
                   class="nav-link link-dark px-2 active"
                   aria-current="page">{{ category.name }}</a>
            </li>
        </ul>
    </div>
</nav>

<div class="card-body row g-5 my-4 d-flex justify-content-center"  style="margin-right: 20px;">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="position-sticky">
            <form (ngSubmit)="onSubmit()" #sortForm="ngForm" class="row">
                <p class="fs-5">Sort</p>

                <div class="form-group col-md-4">
                    <label for="sortField" class="form-label">Sort by</label>
                    <select type="text"
                            class="form-control mb-3"
                            id="sortField"
                            name="sortField"
                            [(ngModel)]="sortField">
                        <option value="price">Price</option>
                        <option value="volume">Volume</option>
                        <option value="weight">Weight</option>
                        <option value="stock">Stock</option>
                        <option value="title">Name</option>
                    </select>
                </div>

                <div class="form-group col-md-4">
                    <label for="sortDir" class="form-label">Direction</label>
                    <select type="text"
                            class="form-control mb-3"
                            id="sortDir"
                            name="sortDir"
                            [(ngModel)]="sortDir">
                        <option value="ASC">Ascending</option>
                        <option value="DESC">Descending</option>
                    </select>
                </div>

                <div class="col-md-4"></div>

                <p class="fs-5 mt-4">Filter by price</p>
                <div class="form-group col-md-4">
                    <label for="minPrice" class="form-label">Min</label>
                    <input type="number" step="0.01"
                           class="form-control mb-3"
                           id="minPrice"
                           name="minPrice"
                           [(ngModel)]="minPrice">

                </div>
                <div class="form-group col-md-4">
                    <label for="maxPrice" class="form-label">Max</label>
                    <input type="number" step="0.01"
                           class="form-control mb-3"
                           id="maxPrice"
                           name="maxPrice"
                           [(ngModel)]="maxPrice">

                </div>

                <div class="col-md-4"></div>

                <p class="fs-5 mt-4">Filter by property values</p>

                <div class="row">
                    <div class="col-md-6">
                        <div *ngFor="let value of propertyValues.slice(0, propertyValues.length / 2)">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" [value]="value.id.toString()" (change)="updateSelectedValues(value.id)">
                                <label class="form-check-label">{{ value.propertyValue }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div *ngFor="let value of propertyValues.slice(propertyValues.length / 2)">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" [value]="value.id.toString()" (change)="updateSelectedValues(value.id)">
                                <label class="form-check-label">{{ value.propertyValue }}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3"></div>
                <div class="col-auto">
                    <button type="submit"
                            class="btn btn-outline-primary text-nowrap"
                    >Apply</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row row-cols-1 col-md-8 row-cols-md-3 g-4">
        <p class="col-auto fs-2">{{ category.name }}</p>
        <div class="col-md-8"></div>
        <div class="col" *ngFor="let product of products">
            <div class="card">
                <img [src]="imageSrc" class="card-img-top" alt="Product image">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.category.name }}</p>
                    <p class="card-text text-primary fs-5">{{ product.price }} €</p>
                    <a routerLink="/products/{{ product.id }}" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="card-body row d-flex justify-content-center mt-5">
    <ngb-pagination [collectionSize]="totalElements"
                    [(page)]="page"
                    [pageSize]="size"
                    [maxSize]="5"
                    [rotate]="true"
                    [boundaryLinks]="true" (pageChange)="onPageChange(page)" class="col-auto"></ngb-pagination>
</div>

<div class="card-body row d-flex justify-content-center">
    <div class="btn-group my-4 col-md-4" role="group" [hidden] = "!roleExists || (roleExists && role !== 'EMPLOYEE')">
        <a routerLink="./update" class="btn btn-outline-success">Update category</a>
        <a routerLink="./delete" class="btn btn-outline-danger">Delete category</a>
    </div>
    <div class="col-md-12"></div>
    <div class="col-auto" [hidden] = "!roleExists || (roleExists && role !== 'EMPLOYEE')">
        <a routerLink="/category/new" class="btn btn-outline-primary">New category</a>
    </div>
</div>