<div class="card-body row d-flex justify-content-center my-4" style="margin-right: 20px;">
        <div class="col-md-3">
            <p class="fs-2">{{ product.title }}</p>
            <p class="fs-5">{{ product.category.name }}</p>
            <p class="text-primary h4">{{ product.price }} €</p>
            <div *ngFor="let propertyValue of product.propertyValues" class="mt-5">
                <p class="fs-5">
                    <span class="fw-bolder">{{ propertyValue.property.name }}:  </span>
                    {{ propertyValue.propertyValue }} </p>
            </div>
            <p class="fs-6"><span class="fw-bolder">Weight: </span>{{ product.weight }}</p>
            <p class="fs-6"><span class="fw-bolder">Volume: </span>{{ product.volume }}</p>
            <p class="fs-6"><span class="fw-bolder">Stock: </span>{{ product.stock }}</p>
            <form class="col-md-8">
                <div *ngIf="!product.deleted">
                <div class="btn-group my-2" role="group" *ngIf="product.stock !== 0">
                    <button (click)="addToCart(product)" class="btn btn-outline-success">Add to cart</button>
                    <a routerLink="/orders/new" class="btn btn-outline-success" (click)="addToCart(product)">Shop now</a>
                </div>
                <div *ngIf="product.stock === 0">
                    <p class="text-danger fs-5">OUT OF STOCK</p>
                </div>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <img [src]="imageSrc" class="img-fluid rounded float-left" alt="Product image">
        </div>




    <div class="col-md-12 my-4"></div>
    <div class="col-auto" [hidden] = "!roleExists || (roleExists && role === 'BUYER')">
        <div class="btn-group my-2" role="group">
            <a routerLink="/admin/products/{{ product.id }}/update" class="btn btn-outline-success">Update product</a>
            <a *ngIf="!product.deleted" routerLink="/admin/products/{{ product.id }}/delete" class="btn btn-outline-danger">Delete product</a>
            <button *ngIf="product.deleted && role === 'ADMIN'" class="btn btn-outline-danger" (click)="restore(product.id)">Restore product</button>
        </div>
    </div>


    <div class="col-md-12"></div>
    <a routerLink="/products" class="btn btn-outline-primary col-auto my-4">Back to all products</a>
</div>