<div class="row d-flex justify-content-center">
    <p class="h4 col-auto">Add new address</p>
</div>
        <form (ngSubmit)="onSubmit()" #addressForm="ngForm" class="card-body row d-flex justify-content-center">

            <div class="row g-3 col-md-6 col-sm-4 col-xs-12">

            <div class="form-group col-md-6">
                <label for="country" class="form-label">Country</label>
                <input type="text" [(ngModel)]="address.country"
                       class="form-control mb-3"
                       id="country"
                       name="country"
                       placeholder="Spain"
                       required #country="ngModel">
            </div>
                <div [hidden]="country.invalid" class="invalid-feedback">Valid country is required</div>

            <div class="form-group col-md-6">
                <label for="city" class="form-label">City</label>
                <input type="text" [(ngModel)]="address.city"
                       class="form-control mb-3"
                       id="city"
                       name="city"
                       placeholder="Madrid"
                       required #city="ngModel">
            </div>


            <div class="form-group col-md-6">
                <label for="street" class="form-label">Street</label>
                <input type="text" [(ngModel)]="address.street"
                       class="form-control col-md-6 mb-3"
                       id="street"
                       name="street"
                       placeholder="Av. Central"
                       required #street="ngModel">
            </div>


            <div class="form-group col-md-2">
                <label for="home" class="form-label">Home</label>
                <input type="number" [(ngModel)]="address.home"
                       class="form-control col-md-6 mb-3"
                       id="home"
                       name="home"
                       placeholder="42"
                       required #home="ngModel">
            </div>


            <div class="form-group col-md-2">
                <label for="apartment" class="form-label">Apartment</label>
                <input type="number" [(ngModel)]="address.apartment"
                       class="form-control col-md-6 mb-3"
                       id="apartment"
                       name="apartment"
                       placeholder="3"
                       required #apartment="ngModel">
            </div>


            <div class="form-group col-md-2">
                <label for="door" class="form-label">Door</label>
                <input type="text" [(ngModel)]="address.door"
                       class="form-control col-md-6 mb-3"
                       id="door"
                       name="door"
                       placeholder="C">
            </div>

            <div class="form-group col-md-6">
                <label for="postalCode" class="form-label">Postal Code</label>
                <input type="number" [(ngModel)]="address.postalCode"
                       class="form-control mb-3"
                       id="postalCode"
                       name="postalCode"
                       placeholder="23000"
                       required #postalCode="ngModel">
            </div>


            <div class="col-md-6"></div>

            <div class="col-auto">
            <button type="submit"
                    class="btn btn-outline-primary text-nowrap"
                    [disabled]="!addressForm.form.valid">Submit</button>
            </div>

            </div>
        </form>


