<div class="my-5 row justify-content-center align-items-center">
    <div class="col-md-8">
        <p class="fs-3">All orders</p>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col" class="col-2 text-center">Ordered products</th>
        <th scope="col" class="col-1 text-center">Date</th>
        <th scope="col" class="col-1 text-center">Total</th>
        <th scope="col" class="col-1 text-center">Delivery method</th>
        <th scope="col" class="col-2 text-center">Order status</th>
        <th scope="col" class="col-2 text-center">Payment</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders" >
        <td><ul class="list-unstyled">
            <li *ngFor="let orderProduct of order.orderProducts">
                <a routerLink="/products/{{ orderProduct.productId }}" class="text-reset">{{ orderProduct.product.title }}</a></li>
        </ul></td>
        <td class="text-center">{{ order.createdDate | date:'yyyy-MM-dd' }}</td>
        <td class="text-center">{{ order.orderSum }} €</td>
        <td class="text-center">{{ getDeliveryMethodDisplayValue(order.deliveryMethod) }}</td>
        <td class="text-center">{{ getOrderStatusDisplayValue(order.orderStatus) }}</td>
        <td class="text-center d-flex justify-content-center">
            <div *ngIf="getNumericValue(order.paymentStatus) === 0">
                <a routerLink="/orders/{{ order.id }}/update"
                        class="btn btn-outline-primary text-nowrap">Pay</a>
            </div>
            <div *ngIf="getNumericValue(order.paymentStatus) !== 0">
                Your order is already paid
            </div>
        </td>
    </tr>
    </tbody>
</table>
</div>
</div>