<nav class="py-2 bg-primary bg-opacity-25 border-bottom text-black-75">
    <div class="container d-flex flex-wrap">
        <ul class="nav" *ngFor="let category of categories">
            <li class="nav-item">
                <a routerLink="/category/{{ category.id }}"
                   class="nav-link link-dark px-2 active"
                   aria-current="page" (click)="getCategory()">{{ category.name }}</a>
            </li>
        </ul>
    </div>
</nav>
<div class="card-body row d-flex justify-content-center">
    <div class="row row-cols-1 row-cols-md-4 g-4 auto-col my-4">
        <h1>{{ category.name }}</h1>
        <div class="col" *ngFor="let product of products">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">Price: {{ product.price }}</p>
                    <p class="card-text">Stock: {{ product.stock }}</p>
                    <a routerLink="/products/{{ product.id }}" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
    <ngb-pagination [collectionSize]="totalElements"
                    [(page)]="page"
                    [pageSize]="size"
                    [maxSize]="5"
                    [rotate]="true"
                    [boundaryLinks]="true" (pageChange)="onPageChange(page)" class="col-auto"></ngb-pagination>
</div>