<div class="row my-4 justify-content-center" style="margin-right: 20px;">
    <p class="fs-3 col-auto">Add new property</p>
</div>

<form (ngSubmit)="onSubmit()" #propertyForm="ngForm" class="row justify-content-center" style="margin-right: 20px;">

    <div class="col-md-3">

            <div class="alert alert-danger col-auto" role="alert" *ngIf="errors">
                <p>Your form contains following errors:</p>
                <ul *ngFor="let error of errors">
                    <li>{{ error }}</li>
                </ul>
            </div>


        <div class="form-group">
            <label for="name" class="form-label">Name</label>
            <input type="text" [(ngModel)]="property.name"
                   class="form-control mb-3"
                   id="name"
                   name="name"
                   placeholder="Enter property name"
                   required #title="ngModel">
        </div>


        <div class="d-flex justify-content-center my-4">
            <button type="submit"
                    class="btn btn-outline-primary text-nowrap"
                    [disabled]="!propertyForm.form.valid">Submit</button>
        </div>
    </div>
</form>
