<div class="row d-flex justify-content-center">
    <p class="h4 my-4 col-auto">Order</p>
</div>



<form (ngSubmit)="onSubmit()" #orderForm="ngForm" class="card-body row d-flex justify-content-center">

    <div [hidden]="total !== 0" class="row g-3 col-md-6 col-sm-4 col-xs-12">
        <div class="col-md-2"></div>
        <div class="col-md-8"><p class="fs-5 text-danger">Looks like you don't have any items in your cart yet</p></div>
    </div>

    <div class="row g-3 col-md-6 col-sm-4 col-xs-12" [hidden]="total === 0">

        <div class="form-group col-md-12">
            <p class="fs-4">Products</p>

            <table class="table">
                <thead class="thead-white">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of items">
                    <td>{{ item.title }}</td>
                    <td>{{ item.price }} €</td>
                    <td>{{ item.quantity }}</td>
                </tr>
                </tbody>
            </table>

            <p class="fs-5 fw-bolder mt-4">Total: {{total}} €</p>
        </div>



        <div class="col-md-12"><hr/></div>

        <div class="form-group col-md-6">
            <p class="fs-4">Please chose address</p>

            <mat-radio-group
                    aria-labelledby="address"
                    name="address"
                    [(ngModel)]="order.address">
                <mat-radio-button *ngFor="let address of addresses"
                                  [value]="address"
                                  >
                    {{ address.postalCode}}, {{ address.country }}, {{ address.city }}, {{ address.street }} {{ address.home }}, {{ address.home }}{{ address.apartment }}
                </mat-radio-button>
            </mat-radio-group>

        </div>

        <div class="col-md-6">
            <p class="fs-5">...or add new address</p>
            <a routerLink="/addresses/new" class="btn btn-outline-success">Add new address</a>
        </div>

        <div class="col-md-12"><hr/></div>

        <div class="form-group col-md-6 form-check">
            <p class="fs-4">Please chose delivery method</p>

            <mat-radio-group
                    aria-labelledby="delivery_method"
                    name="deliveryMethod"
                    [(ngModel)]="order.deliveryMethod">
                <mat-radio-button [value]="0">Standard: 3 - 5 days</mat-radio-button>
                <mat-radio-button [value]="1">Express: 24 hours</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="col-md-12"><hr/></div>

        <div class="form-group col-md-6 form-check">
            <p class="fs-4">Please chose payment method</p>

            <mat-radio-group
                    aria-labelledby="payment_method"
                    name="paymentMethod"
                    [(ngModel)]="order.paymentMethod">
                <mat-radio-button [value]="0">Card</mat-radio-button>
                <mat-radio-button [value]="1">Cash</mat-radio-button>
            </mat-radio-group>

        </div>

        <div class="col-md-12"><hr/></div>

        <div class="col-auto">
            <button type="submit" [disabled]="total === 0"
                    class="btn btn-outline-primary text-nowrap">Confirm</button>
        </div>

        </div>

</form>