<div class="my-5 row justify-content-center align-items-center" style="margin-right: 20px;">
    <div class="col-md-4">

        <div class="list-group">
            <a
               class="list-group-item list-group-item-action bg-primary bg-opacity-25 fs-5"
               aria-current="true">
                <b>Store statistics</b>
            </a>
            <a routerLink="./statistics/revenue"
               class="list-group-item list-group-item-action">View revenue</a>
            <a routerLink="./statistics/top-10-products"
               class="list-group-item list-group-item-action">View top 10 products</a>
            <a routerLink="./statistics/top-10-buyers"
               class="list-group-item list-group-item-action">View top 10 buyers</a>
            <a
                    class="list-group-item list-group-item-action bg-primary bg-opacity-25 fs-5"
                    aria-current="true">
                <b>Products</b>
            </a>
            <a routerLink="/products"
               class="list-group-item list-group-item-action">View all products</a>
            <a routerLink="/products/new"
               class="list-group-item list-group-item-action">Add new products</a>
            <a
                    class="list-group-item list-group-item-action bg-primary bg-opacity-25 fs-5"
                    aria-current="true">
                <b>Users</b>
            </a>
            <a routerLink="/admin/users"
               class="list-group-item list-group-item-action">View user list</a>
            <a
                    class="list-group-item list-group-item-action bg-primary bg-opacity-25 fs-5"
                    aria-current="true">
                <b>Addresses</b>
            </a>
            <a routerLink="/admin/addresses"
               class="list-group-item list-group-item-action">View all addresses</a>
            <a
                    class="list-group-item list-group-item-action bg-primary bg-opacity-25 fs-5"
                    aria-current="true">
                <b>Orders</b>
            </a>
            <a routerLink="/admin/orders"
               class="list-group-item list-group-item-action">View all orders</a>
            <a
                    class="list-group-item list-group-item-action bg-primary bg-opacity-25 fs-5"
                    aria-current="true">
                <b>Categories</b>
            </a>
            <a routerLink="./categories"
               class="list-group-item list-group-item-action">View all categories</a>

            <a routerLink="./categories/new"
               class="list-group-item list-group-item-action">Add new category</a>
            <a
                    class="list-group-item list-group-item-action bg-primary bg-opacity-25 fs-5"
                    aria-current="true">
                <b>Properties</b>
            </a>
            <a routerLink="./properties"
               class="list-group-item list-group-item-action">View all properties</a>
            <a routerLink="./properties/new"
               class="list-group-item list-group-item-action">Add new property</a>
            <a
                    class="list-group-item list-group-item-action bg-primary bg-opacity-25 fs-5"
                    aria-current="true">
                <b>Property values</b>
            </a>
            <a routerLink="./propertyValues"
               class="list-group-item list-group-item-action">View all property values</a>
            <a routerLink="./propertyValues/new"
               class="list-group-item list-group-item-action">Add new property value</a>
        </div>

    </div>
</div>
